<<h1>Kanyeeeee</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Adidas_Yeezy_Boost_350_Pirate_Black.gif/440px-Adidas_Yeezy_Boost_350_Pirate_Black.gif" alt="Adidas Yeezy Boost 350 Pirate Black animation.">

<%= button_to "New Shop Order", new_shop_path, method: :get%>
